body {
  background-color: #ffcf81;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  width: 90%;
}

.wrapper {
  margin: 50px;
  max-width: 1400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 40px 40px 0px;
  position: relative;
}

.header_name h1 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 3px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_content .header_name_logo {
  display: flex;
  align-items: center;
}
.header_content .header_name_logo .header_logo img {
  max-width: 50px;
  margin-right: 15px;
}
.header_content .header_search {
  position: relative;
}
.header_content .header_search .search_img {
  position: absolute;
  max-width: 20px;
  opacity: 0.3;
  left: 14px;
  top: 14px;
}
.header_content .header_search .search {
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 15px 15px 40px;
}
.header_content .header_cart img {
  max-width: 25px;
  margin-right: 5px;
}
.header_content .header_cart .button_delimiter {
  margin-right: 14px;
  margin-left: 20px;
  height: 25px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
.header_content .header_cart a {
  font-family: 'Roboto', sans-serif;
  background-color: #fe5f1e;
  padding: 13px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}
.header_content .header_cart a:hover {
  transition: all 0.3s ease;
  background-color: #fc4a01;
}
.header_content .header_cart a:active {
  transition: all 0.3s ease;
  background-color: #e84401;
}
.header_content .header_cart .header_cart::after {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

header::after {
  content: '';
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  opacity: 0.1;
  margin-top: 30px;
}

.nav_menu ul {
  font-family: inherit;
  margin-top: 70px;
  display: flex;
  font-weight: 700;
  font-size: 17px;
}
.nav_menu ul li {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  background-color: #f9f9f9;
  padding: 15px 30px;
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.nav_menu ul li:hover {
  background-color: #f4f4f4;
}
.nav_menu ul li:active {
  background-color: #ececec;
}
.nav_menu ul li.active {
  background-color: #282828;
  color: #fff;
}
