body {
  background-color: #ffcf81;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  width: 90%;
}

.wrapper {
  margin: 50px;
  max-width: 1400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 40px 40px 0px;
  position: relative;
}

.header_name h1 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 3px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_content .header_name_logo {
  display: flex;
  align-items: center;
}
.header_content .header_name_logo .header_logo img {
  max-width: 50px;
  margin-right: 15px;
}

.cart_content {
  text-align: center;
}
.cart_content .cart_content_info {
  padding: 0px 200px;
}
.cart_content .cart_content_info .cart_top {
  display: flex;
  justify-content: space-between;
}
.cart_content .cart_content_info .cart_top .cart_top_left {
  font-weight: 800;
  font-size: 30px;
  align-items: center;
  margin-top: 100px;
  display: flex;
}
.cart_content .cart_content_info .cart_top .cart_top_right {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.cart_content .cart_content_info .cart_top .cart_top_right a {
  text-decoration: none;
  color: #717171;
  padding-left: 10px;
  position: relative;
  padding-left: 30px;
}
.cart_content .cart_content_info .cart_top .cart_top_right img {
  width: 25px;
  position: absolute;
}
.cart_content .cart_content_info .cart_item_info {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.cart_content .cart_content_info .cart_item_info h4 {
  font-weight: 800;
  font-size: 15px;
}
.cart_content .cart_content_info .cart_item_info img {
  max-width: 100px;
}
.cart_content .cart_content_info .cart_item_info .add_delete {
  display: flex;
  gap: 20px;
  font-weight: 900;
  font-size: 30px;
  color: #fe5f1e;
}
.cart_content .cart_content_info .cart_item_info .add_delete .add {
  max-width: 40px;
  height: 40px;
  cursor: pointer;
}
.cart_content .cart_content_info .cart_item_info .add_delete .delete {
  max-width: 40px;
  height: 40px;
  cursor: pointer;
}
.cart_content .cart_content_info .cart_item_info .deleteItem {
  max-width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0.2;
}
.cart_content .cart_content_info .cart_item_info p {
  font-weight: 700;
}
.cart_content .cart_content_info .item_delimiter {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #000;
  opacity: 0.1;
}
.cart_content .cart_bottom {
  padding: 0 150px;
  margin-top: 30px;
}
.cart_content .cart_bottom .cart_bottom_content {
  display: flex;
  justify-content: space-between;
}
.cart_content .cart_bottom .cart_bottom_content .all_items {
  display: flex;
  gap: 5px;
  font-size: 20px;
}
.cart_content .cart_bottom .cart_bottom_content .all_items p {
  font-weight: 700;
}
.cart_content .cart_bottom .cart_bottom_content .sum_to_pay {
  display: flex;
  gap: 5px;
  font-size: 20px;
}
.cart_content .cart_bottom .cart_bottom_content .sum_to_pay .sum {
  font-weight: 700;
  color: #fe5f1e;
}
.cart_content .cart_bottom .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.cart_content .cart_bottom .buttons .pay {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  border-radius: 50px;
  padding: 20px;
  background-color: #fe5f1e;
  border: 3px solid #fe5f1e;
  transition: all 0.3s ease;
}
.cart_content .cart_bottom .buttons .pay:hover {
  transform: scale(1.05);
}
.cart_content .cart_bottom .buttons .go_back {
  opacity: 0.3;
  text-decoration: none;
  color: #717171;
  font-weight: 800;
  border-radius: 50px;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #717171;
  transition: all 0.3s ease;
}
.cart_content .cart_bottom .buttons .go_back:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=cart.css.map */
